* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* === COLORS === */

:root {
--main-color: #212529;
--light-color: #343a40;
--bg-color: #ced4da;
--accent-color: #1d84b5;

--on-hover-shadow: 6px 6px 18px rgba(33, 37, 41, 0.1);
--basic-shadow: 1px 1px 5px rgba(33, 37, 41, 0.05);
}

body {
  font-family: 'Syne', sans-serif;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
body.lock {
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

/* === HEADER === */

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 72px;
  width: 100vw;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  z-index: 1000;
}

/* === COMMON ELEMENTS === */

.drop-menu {
  width: 100%;
  /* padding: 20px 15px; */
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}
.drop-menu-content {
  display: flex;
  flex-direction: column;
  /* max-width: 1350px; */
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
}
.data-input {
  position: relative;
}
.input-label {
  position: absolute;
  left: 20px;
  top: 13px;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.input {
  background: none;
  outline: none;
  border: 1px solid var(--light-color);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  transition: 0.5s ease-in-out;
  font-family: 'Syne', sans-serif;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.input:focus {
  border: 1px solid var(--accent-color);
}
.input:focus + label {
  color: var(--accent-color);
  top: -8px;
  left: 10px;
  background-color: #fff;
}
.input:not(:placeholder-shown).input:not(:focus)+ label {
  color: var(--accent-color);
  top: -8px;
  left: 10px;
  background-color: #fff;
}
.button {
  display: flex;
}
.btn {
  background-color: var(--main-color);
  padding: 15px 20px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 2px solid var(--main-color);
  text-align: center;
}
.btn span {
  color: #fff;
  font-weight: 500;
  transition: 0.5s ease-in-out;
  z-index: 1;
  position: relative;
}
.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}
.btn:hover::after {
  height: 100%;
}
.btn:hover span {
  color: var(--main-color);
}
.link-copy.copied::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}
.link-copy.copied span {
  color: var(--main-color);
}
.checkbox {
  position: relative;
  -webkit-appearance: none;
  width: 65px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--bg-color);
  box-shadow: inset 0 0 0 0 #fff;
}
.checkbox:checked {
  background-color: var(--main-color);
}
.checkbox::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 26px;
  top: 1px;
  left: 2px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.15);
  transition: 0.5s ease;
}
.checkbox:checked:before {
  left: 26px;
  border-color: var(--main-color);
}

/* === POPUPS === */

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0,0,0,0);
  transition: 0.5s ease;
  z-index: 5000;
}
.popup.open {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0,0,0,0.2);
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  height: 70px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
.popup-body {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 15px;
  min-width: 290px;
  transform: scale(0);
  transition: 0.5s ease;
  min-height: 300px;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.popup-body.open {
  transform: scale(1);
}
.close-popup {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease;
}
.close-popup:hover {
  background-color: var(--main-color);
}
.close-popup:hover::before {
  background-color: #fff;
  transform: rotate(225deg);
}
.close-popup:hover::after {
  background-color: #fff;
  transform: rotate(-225deg);
}
.close-popup::before,
.close-popup::after {
  content: '';
  width: 20px;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  top: 11px;
  left: 2.5px;
  transition: 0.5s ease;
}
.close-popup::before {
  transform: rotate(45deg);
}
.close-popup::after {
  transform: rotate(-45deg);
}
.master-settings {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease;
  margin-left: auto;
  margin-right: 15px;
}
.master-settings.active {
  background-color: var(--main-color);
}
.master-settings:hover {
  background-color: var(--main-color);
}
.master-settings::before,
.master-settings::after {
  content: '';
  width: 13px;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  top: 11px;
  transition: 0.5s ease;
  transition: 0.5s ease;
}
.master-settings::before {
  left: 2px;
  transform: rotate(35deg);
}
.master-settings::after {
  right: 2px;
  transform: rotate(-35deg);
}
.master-settings:hover::before {
  background-color: #fff;
}
.master-settings:hover::after {
  background-color: #fff;
}
.master-settings.active::before {
  background-color: #fff;
  transform: rotate(-35deg);
}
.master-settings.active::after {
  background-color: #fff;
  transform: rotate(35deg);
}

/* === GRID CONTAINER COMMON SETTINGS === */

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.grid-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 200px auto 30px 30px;
  border-radius: 5px;
  border: 2px solid #fbfbfb;
  align-items: center;
  padding: 10px 20px;
  transition: 0.5s ease;
}
.grid-item:hover .grid-item-image img {
  transform: scale(1.05);
}
.grid-item:hover {
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
}
.grid-item:hover .grid-item-title {
  color: var(--accent-color);
}
.grid-item-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  padding-bottom: 10px;
  transition: 0.5s ease;
  text-align: center;
}
.grid-item-image {
  position: relative;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}
.grid-item-image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.8s ease;
}
.grid-item-subtitle {
  padding: 10px 0;
  font-weight: 500;
  text-align: left;
  text-align: center;
  align-self: flex-start;
}
.grid-item-tags {
  font-size: 12px;
  align-self: flex-start;
  padding: 5px 0;
  padding-left: 14px;
  color: var(--light-color);
  position: relative;
}
.grid-item-tags::before {
  content: url(../img/grid-item/hash-icon.svg);
  position: absolute;
  top: 7px;
  left: 0px;
}
.grid-item-tags span:not(:last-child):after {
  content: ',';
}
.grid-item-author {
  font-size: 12px;
  align-self: flex-start;
  padding: 5px 0;
  color: var(--light-color);
  position: relative;
  padding-left: 14px;
}
.grid-item-author::before {
  content: url(../img/grid-item/user-icon.svg);
  position: absolute;
  top: 7px;
  left: 0px;
}

/* === NAV === */

.nav {
  max-width: 1350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
}
.nav__logo {
  flex: 0 0 10%;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: var(--main-color);
}
.nav__logo a:hover {
  color: var(--accent-color);
  transition: 0.5s ease;
}
.nav__menu {
  flex: 0 1 70%;
}
.menu__list {
  display: flex;
  justify-content: center;
}
.menu__list li {
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.menu__list li:not(:first-child) {
  margin-left: 30px;
}
.menu__list li::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0px;
  background-color: var(--main-color);
  height: 2px;
  transition: 0.5s ease-in-out;
}
.menu__list li:hover::after {
  width: 100%;
}
.nav__icons {
  display: flex;
  flex: 0 1 10%;
  justify-content: flex-end;
}
.nav__settings {
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.user {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: 0.5s ease;
  position: relative;
}
.user.active {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.user:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.user:hover .user-dropdown {
  visibility: visible;
  opacity: 1;
}
.user-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 5px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  position: relative;
}
.user-ico::after {
  content: '';
  width: 25px;
  height: 25px;
  background-color: #e76f51;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.5s ease;
  background-image: url(../img/quit-ico.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(100%);
}
.user-ico:hover::after {
  content: '';
  position: absolute;
  transform: translateY(0);
}
.user-name {
  margin-left: 5px;
}
.user-dropdown {
  visibility: hidden;
  opacity: 0;
  padding: 30px 20px;
  position: absolute;
  top: 63px;
  right: 0px;
  width: 300px;
  background-color: #fbfbfb;
  border-radius: 5px;
  transition: 0.5s ease;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.15);
}
.user-dropdown::before {
  content: '';
  border: 10px solid transparent;
  border-bottom: 10px solid #fbfbfb;
  top: -20px;
  right: 40px;
  position: absolute;
}
.user-dropdown-button {
  margin-top: 20px;
}
.user-dropdown-button a {
  width: 100%;
}
.logout-button {
  display: none;
}
.unlogin-user-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 5px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.unlogin-user-ico::after {
  content: '';
  width: 25px;
  height: 25px;
  background-color: #2a9d8f;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.5s ease;
  background-image: url(../img/login-ico.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(100%);
}
.unlogin-user-ico:hover::after {
  content: '';
  position: absolute;
  transform: translateY(0);
}
.nav__burger {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 15px;
}
.nav-icon:hover path {
  fill: var(--accent-color);
  transition: 0.5s ease-in-out;
}
.nav-icon.active path {
  fill: var(--accent-color);
  transition: 0.5s ease-in-out;
}
.burger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--light-color);
  position: relative;
}
.burger-icon:hover {
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
}
.burger-icon span {
  background-color: #fff;
  height: 2px;
  width: 18px;
  border-radius: 1px;
  transition: 0.5s ease-in-out;
}
.burger-icon::before, 
.burger-icon::after {
  content: '';
  background-color: #fff;
  height: 2px;
  width: 18px;
  position: absolute;
  transition: 0.5s ease-in-out;
}
.burger-icon::before {
  top: 8px;
  left: 6px;
} 
.burger-icon::after {
  bottom: 8px;
  left: 6px;
}
.nav__burger.active .burger-icon {
  background-color: var(--accent-color);
}
.nav__burger.active .burger-icon span {
  transform: scale(0);
}
.nav__burger.active .burger-icon::before {
  transform: rotate(135deg);
  top: 14px;
}
.nav__burger.active .burger-icon::after {
  transform: rotate(-135deg);
  bottom: 14px;
}


/* === MAIN DROP MENU ===

.main-drop-menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 72px;
  left: 0;
  transition: 0.5s ease-in-out;
  transform: translateY(-100%);
  z-index: 990;
  min-height: calc(100vh - 72px);
  overflow: auto;
  display: flex;
  align-items: center;
}
.main-menu__list {
}
.main-menu-footer {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  height: 50px;
  width: 100%;
  justify-self: flex-end;
}
.main-menu-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}
.main-menu-icon {
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  border-radius: 5px;
  position: relative;
  display: flex;
  cursor: pointer;
}
.main-menu-icon img {
  position: absolute;
  top: 5px;
  left: 5px;
}
.main-menu__list li {
  font-size: 18px;
  font-weight: 500;
  padding: 20px 20px;
  position: relative;
}
.main-menu__list img {
  position: absolute;
  top: 18px;
  left: -8px;
} */

/* === MAIN === */

/* === VIDEO BLOCK === */

.start-section {
  position: relative;
  height: calc(85vh - 72px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.start-section-body {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  padding-bottom: 72px;
}
h1 {
  margin: 30px 0;
}
.main-title {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 100%;
  color: #fff;
  font-weight: 600;
  letter-spacing: 5px;
}
.main-subtitle {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 5px;
}
.main-button {
  margin-top: 30px;
}
.main-btn {
  width: 150px;
}
.main-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* === SECTION TITLE === */

.section-title h2 {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  line-height: 100%;
}
.unlogin-section-title h2 {
  padding-top: 30px;
}
.section-subtitle {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
}

/* === SEARCH BLOCK ===*/

.grid-search {
  width: 100%;
  border-radius: 5px;
  display: flex;
  margin-top: 50px;
  position: relative;
}
.search-input {
  flex: 0 1 80%;
  position: relative;
}
.search-ico {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.search-data-input .input {
  border: none;
  background-color: #fbfbfb;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--bg-color);
  position: relative;
  padding: 0 40px;
}
.search-data-input .input:focus {
  border: 1px solid var(--accent-color);
  background-color: #fff;
}
.search-data-input .input-label {
  left: 40px;
}

/* === SEARCH RADIO === */

.search-radio {
  flex: 0 1 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid var(--bg-color);
  border-top: 1px solid var(--bg-color);
  border-bottom: 1px solid var(--bg-color);
}
.search-radio-item {
  position: relative;
}
.search-radio-input {
  -webkit-appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  display: block;
  transition: 0.5s ease;
}
.search-radio-input:checked {
  background-color: var(--main-color);
}
.search-radio-input:checked + .search-radio-label {
  color: #fff;
}
.search-radio-label {
cursor: pointer;
position: absolute;
top: 7px;
left: 8px;
transition: 0.5s ease;
}

/* === MAIN GRID CONTAINER === */

.main {
  padding-top: 72px;
}
.main-container {
}
.worlds-grid-container {
  margin: 20px 0;
}
.worlds-grid-item {
}
.worlds-grid-item {
}
.worlds-grid-item-title {
}
.worlds-grid-item-image {
}
.worlds-grid-item-subtitle {
}
.worlds-grid-item-tags {
}
.worlds-grid-item-author {
}

/* === FOOTER === */

.footer {
  background-color: var(--main-color);
  height: 100px;
}
.container {
}
.footer-container {
  width: 100%;
  height: 100%;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.footer-logo {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #fff;
}
.footer-logo a:hover {
  color: var(--accent-color);
  transition: 0.5s ease;
}
.footer-contacts {
  display: flex;
}
.footer-icon {
  width: 25px;
  height: 25px;
}
.footer-mail:hover path,
.footer-tw:hover path {
  fill: var(--accent-color);
  transition: 0.5s ease;
}
.footer-dc:hover {
  background-color: var(--accent-color);
}
.footer-icon:not(:first-child) {
  margin-left: 15px;
}
.footer-tw {
}
.footer-dc {
  width: 25px;
  height: 25px;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s ease;
}
.footer-dc svg {
  position: absolute;
  top: 0;
  left: 0;
}
.footer-os {
  width: 25px;
  height: 25px;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s ease;
}
.footer-os svg {
  position: absolute;
  top: 3px;
  left: 2.45px;
}
.footer-os:hover {
  background-color: var(--accent-color);
}
.footer-mail {
}
.footer-text {
  color: #fff;
  font-size: 18px;
  width: 140px;
  text-align: right;
}

/* === POPUPS === */

/* === PASSWORD CHANGING === */

.data-input-password-chng {
  width: 100%;
}
.data-input-password-chng:not(:first-child) {
  margin-top: 20px;
}
.password-chng-button {
  margin-top: 20px;
}
.password-chng-button a {
  min-width: 280px;
}

/* === AVATAR CHANGING === */

.popup-body-avatar {
}
.avatar-control {
  display: flex;
  margin-top: 70px;
  height: 300px;
}
.avatar-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
}
.avatar-actions::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.avatar-actions::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}
.avatar-actions::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 5px;
}
.avatar-body {
  border: 1px solid var(--bg-color);
  min-width: 200px;
  height: 100%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.avatar-body img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.avatar-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkbox-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.avatar-chng-button {
  display: inline-flex;
}
.avatar-chng-button a {
  margin-top: 20px;
  min-width: 290px;
}

/* === AVATAR GRID === */

.popup-avatar-select {
}
.popup-body-avatar-select {
  width: 70vw;
  height: 80vh;
  justify-content: flex-start;
  align-items: stretch;
}
.avatars-grid-container {
  margin-top: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 290px);
  overflow: auto;
}
.avatars-grid-container::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.avatars-grid-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}
.avatars-grid-container::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 5px;
}
.avatar-grid-search {
  width: 90%;
  margin: 70px auto 0 auto;
}
.avatar-section-subtitle {
}
.avatars-grid-item {
}
.avatars-grid-item-title {
}
.avatars-grid-item-image {
}
.avatars-grid-item-subtitle {
}
.avatars-grid-item-tags {
}
.avatars-grid-item-author {
}

/* === ENTER THE WORLD === */

.popup-enter-world {
}
.enter-world-title {
  margin-top: 70px;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: center;
}
.enter-world-preview {
  width: 100%;
  min-height: 200px;
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--bg-color);
  position: relative;
  overflow: hidden;
}
.enter-world-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.enter-world-preview:hover .preview-enter {
  transform: translateY(0);
}
.preview-enter {
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.preview-enter a {
  position: relative;
  width: 70px;
  height: 70px;
}
.preview-enter a:hover img {
  opacity: 1;
}
.preview-enter img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s ease;
  opacity: 0.7;
}
.enter-world-button a {
  min-width: 258px;
  margin-top: 10px;
}
.popup-body-master {
  transition: 0.5s ease;
}
.enter-world-btn {
}
.enter-world-master-buttons {
  display: none;
  margin-top: 10px;
  border-top: 1px solid var(--bg-color);
  visibility: hidden;
  opacity: 0;
}
.master-buttons.active {
  display: block;
  visibility: visible;
  opacity: 1;
}

/* === INSIDE SETTINGS === */

.inside-settings-popup {
}
.popup-body-inside-settings {
  padding-top: 80px;
}
.popup-body-inside-settings .master-settings {
  margin-left: 0;
}
.micro {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease;
  margin-left: auto;
  margin-right: 15px;
}
.micro img {
  position: absolute;
  top: 3px;
  left: 2.5px;
}
.micro:after {
  width: 0px;
}
.micro.off:after {
  content: '';
  position: absolute;
  top: 11px;
  right: 2px;
  background-color: var(--main-color);
  height: 3px;
  width: 20px;
  transform: rotate(-45deg);
}
.camera {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease;
  margin-right: 15px;
}
.camera img {
  position: absolute;
  top: 3px;
  left: 2.5px;
}
.camera:after {
  width: 0px;
  transition: 0.5s ease;
}
.camera.off:after {
  content: '';
  position: absolute;
  top: 11px;
  right: 2px;
  background-color: var(--main-color);
  height: 3px;
  width: 20px;
  transform: rotate(-45deg);
}
.inside-settings-button a {
  min-width: 250px;
  margin-top: 10px;
}
.inside-settings-btn {
}
.inside-settings-master-buttons {
  display: none;
  margin-top: 10px;
  border-top: 1px solid var(--bg-color);
  visibility: hidden;
  opacity: 0;
}
.inside-settings-master-buttons.active {
  display: block;
  visibility: visible;
  opacity: 1;
}

/* === SELECT ROOM === */

.popup-change-room {
}
.popup-body-change-room {
}
.rooms-dropdown {
  margin-bottom: 80px;
  min-width: 250px;
}
.rooms-textBox {
}
.inside-settings-button {
}
.inside-settings-btn {
}

/* === CONVERT TO TEMPLATE === */

.popup-convert {
}
.popup-body-convert {
}
.convert-title {
  line-height: 100%;
}
.data-input-convert {
  width: 100%;
  margin-top: 10px;
}
.convert-button a {
  margin-top: 10px;
  width: 260px;
}
.convert-btn a {
}

/* === SIGN IN === */

.bg {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #fbfbfb;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.registration-form {
  display: flex;
  position: relative;
  transform: translateX(25%);
  transition: 0.5s ease;
  align-items: center;
}
.registration-form.registration {
  display: flex;
  position: relative;
  transform: translateX(-25%);
}
.registration-body {
  min-width: 290px;
  background-color: #fff;
  padding: 30px 20px;
  text-align: center;
  transition: 0.5s ease;
  box-shadow: var(--basic-shadow);
}
.registration-body.registration {
}
.sign-in-body {
  border-radius: 5px;
  transition: 0.5s ease;
}
.sign-in-body.inactive {
  visibility: hidden;
  opacity: 0;
}
.register-body {
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  transition: 0.5s ease;
}
.register-body.active {
  visibility: visible;
  opacity: 1;
}
.registration-body:hover {
  box-shadow: var(--on-hover-shadow);
}
.sign-in-logo {
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: var(--main-color);
}
.sign-in-title {
  font-size: 1.5rem;
  color: var(--accent-color);
  font-weight: 500;
  padding: 20px 0;
}
.sign-in-login {
}
.data-input-sign-in {
}
.registration-data-input:not(:first-child) {
  margin-top: 20px;
}
.sign-in-password {
}
.sign-in-forgot-link {
  margin-top: 2px;
  font-size: 0.8rem;
  text-align: right;
  color: var(--accent-color);
}
.sign-in-forgot-link a:hover {
  text-decoration: underline;
}
.sign-in-button {
  margin-top: 20px;
}
.sign-in-button a {
  width: 100%;
}
.sign-in-btn {
}
.sign-in-or {
  position: relative;
  display: inline-block;
  margin: 20px 0;
}
.sign-in-or::before,
.sign-in-or::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 50px;
  top: 8px;
}
.sign-in-or::after {
  background: rgba(33,37,41,0);
  background: -moz-linear-gradient(left, rgba(33,37,41,0) 0%, rgba(229,229,229,0.15) 15%, rgba(33,37,41,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,37,41,0)), color-stop(15%, rgba(229,229,229,0.15)), color-stop(100%, rgba(33,37,41,1)));
  background: -webkit-linear-gradient(left, rgba(33,37,41,0) 0%, rgba(229,229,229,0.15) 15%, rgba(33,37,41,1) 100%);
  background: -o-linear-gradient(left, rgba(33,37,41,0) 0%, rgba(229,229,229,0.15) 15%, rgba(33,37,41,1) 100%);
  background: -ms-linear-gradient(left, rgba(33,37,41,0) 0%, rgba(229,229,229,0.15) 15%, rgba(33,37,41,1) 100%);
  background: linear-gradient(to right, rgba(33,37,41,0) 0%, rgba(229,229,229,0.15) 15%, rgba(33,37,41,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212529', endColorstr='#212529', GradientType=1 );
  right: 20px;
}
.sign-in-or::before {
  background: rgba(33,37,41,1);
  background: -moz-linear-gradient(left, rgba(33,37,41,1) 0%, rgba(229,229,229,0.16) 84%, rgba(33,37,41,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,37,41,1)), color-stop(84%, rgba(229,229,229,0.16)), color-stop(100%, rgba(33,37,41,0)));
  background: -webkit-linear-gradient(left, rgba(33,37,41,1) 0%, rgba(229,229,229,0.16) 84%, rgba(33,37,41,0) 100%);
  background: -o-linear-gradient(left, rgba(33,37,41,1) 0%, rgba(229,229,229,0.16) 84%, rgba(33,37,41,0) 100%);
  background: -ms-linear-gradient(left, rgba(33,37,41,1) 0%, rgba(229,229,229,0.16) 84%, rgba(33,37,41,0) 100%);
  background: linear-gradient(to right, rgba(33,37,41,1) 0%, rgba(229,229,229,0.16) 84%, rgba(33,37,41,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212529', endColorstr='#212529', GradientType=1 );
  left: 20px;
}
.sign-in-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.sign-in-switcher {
  margin-top: 10px;
  font-size: 0.8rem;
  flex: 1;
}
.registration-switcher {
  cursor: pointer;
}
.sign-in-switcher span {
  color: var(--accent-color);
}
.sign-in-switcher span:hover {
  text-decoration: underline;
}

/* === ENTER-WORLD SETTINGS === */

.settings-nav {
  display: flex;
  justify-content: center;
}
.user-settings {
  display: flex;
  padding: 100px 20px 30px 20px;
}
.user-settings-body {
  display: flex;
  background-color: #fff;
  transition: 0.5s ease;
  border-radius: 5px;
  box-shadow: var(--basic-shadow);
}
.user-settings-body:hover {
  box-shadow: var(--on-hover-shadow);
}
.settings-section {
  width: 100%;
  height: 100%;
}
.settings-first-section {
  display: flex;
  flex: 1 1 40%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  border-radius: 5px 0 0 5px;
  background-color: var(--light-color);
}
.settings-camera {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid var(--bg-color);
  transition: 0.5s ease;
}
.settings-camera:hover {
  box-shadow: 2px 2px 8px rgba(255,255,255,0.2);
}
.settings-camera img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.settings-name {
  margin: 20px 0;
  width: 100%;
}
.settings-name-input {
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.settings-name-input:focus {
  border: 1px solid var(--bg-color);
}
.set-input-label {
  color: #fff;
}
.settings-name-input:focus + label {
  color: #fff;
  background-color: var(--light-color);
}
.settings-avatar {
  height: 200px;
  width: 100%;
  border: 1px solid var(--bg-color);
  cursor: pointer;
  transition: 0.5s ease;
  overflow: hidden;
  position: relative;
}
.settings-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.settings-avatar:hover {
  box-shadow: 4px 4px 8px rgba(255,255,255,0.15);
}
.settings-second-section {
  flex: 1 1 60%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.video-settings {
  display: flex;
  flex-direction: column;
}
.video-settings label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.audio-settings {
  display: flex;
  flex-direction: column;
}
.audio-settings label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.voice-check {
  margin-top: 10px;
}
.sound-check {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color: #f8f8f8;
  position: relative;
}
.sound-bar {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: var(--main-color);
  height: 4px;
  width: 27%;
  border-radius: 5px;
}
.audio-extra-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.extra-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-settings-btn {
  width: 200px;
}
.dropdown {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}
.dropdown::before {
  content: '';
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 999;
  width: 8px;
  height: 8px;
  border: 2px solid var(--main-color);
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: 0.5s ease;
}
.dropdown.active::before {
  transform: rotate(-225deg);
  top: 22px;
}
.dropdown.active {
  box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
}
.dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #f8f8f8;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s ease;
}
.dropdown input:hover {
  box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
}
.dropdown .options {
  position: absolute;
  width: 100%;
  height: 110px;
  top: 50px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  z-index: 1000;
  margin-top: 5px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
  overflow-y: auto;
}
.dropdown .options::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.dropdown .options::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}
.dropdown .options::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 5px;
}
.dropdown.active .options {
  display: block;
}
.dropdown .options div {
  cursor: pointer;
  padding: 10px 20px;
}
.dropdown .options div:hover {
  background-color: var(--main-color);
  color: #fff;
}
.audio-extra-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.audio-extra-checkbox label {
  cursor: pointer;
}
.extra-checkbox {
  width: 50px;
  height: 30px;
  border-radius: 50px;
  margin-left: 70px;
}
.extra-checkbox::before {
  width: 25px;
  height: 25px;
}
.extra-checkbox:checked:before {
  left: 22px;
}

/* === LOADING THE WORLD === */

.loading-world-body {
  background-color: #fff;
  transition: 0.5s ease;
  border-radius: 5px;
  width: 60%;
  min-height: 25vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 20px 20px 20px;
  box-shadow: var(--basic-shadow);
}
.loading-world-body:hover {
  box-shadow: var(--on-hover-shadow);
}
.loading-header {
}
.loading-title {
}
.loading-content {
}
.loading-progress-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin-bottom: 10px;
  font-weight: 500;
}
.loading-chart {
  width: 100%;
  height: 16px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.loading-progress-bar {
  width: 27%;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 5px;
}

/* === WORLD INTERFACE === */

.user-interface {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.object-description {
  margin-top: 150px;
}
.object-description span {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  color: #fff;
  padding: 15px 20px;
  background-color: var(--main-color);
}

/* === CONTROLLER === */

.interface-controller {
  opacity: 0.2;
  transition: 0.5s ease;
  position: absolute;
  bottom: 20px;
  left: calc(50vw - 75px);
}
.interface-controller:hover {
  opacity: 1;
}
.big-circle {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: var(--light-color);
  border-radius: 50%;
  overflow: hidden;
}
.small-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #212529;
  border-radius: 50%;
}
.small-circle:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid var(--bg-color);
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}
.small-circle:hover {
  transform: scale(1.5);
}
.small-circle:active:after {
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}
.top {
  left: 50px;
  top: -25px;
  transition: 0.5s ease;
  position: relative;
}
.top:after {
  top: 35px;
  left: 19px;
  transform: rotate(135deg);
}
.right {
  top: 50px;
  right: -25px;
  transition: 0.5s ease;
}
.right:after {
  top: 19px;
  right: 35px;
  transform: rotate(225deg);
}
.bottom {
  left: 50px;
  bottom: -25px;
  transition: 0.5s ease;
}
.bottom:after {
  bottom: 35px;
  right: 19px;
  transform: rotate(-45deg);
}
.left {
  top: 50px;
  left: -25px;
  transition: 0.5s ease;
}
.left:after {
  left: 35px;
  top: 19px;
  transform: rotate(45deg);
}
.center {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #212529;
  border-radius: 50%;
  left: 50px;
  top: 50px;
}

/* === CHAT === */

.interface-chat {
  max-width: 290px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000;
  transition: 0.5s ease;
}
.interface-chat.hidden {
  transform: translateX(100%);
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-color);
  padding: 0px 10px;
}
.chat-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.chat-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chat-name {
  flex: 1;
  padding: 0 10px;
}
.username {
  color: #fff;
}
.chat-room {
}
.room-name {
  color: #fff;
}
.chat-body {
  height: 345px;
  width: 100%;
  background-color: #f9f9f9;
  border-left: 1px solid var(--bg-color);
  border-right: 1px solid var(--bg-color);
}
.chat-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.chat-content::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.chat-content::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}
.chat-content::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 5px;
}
.chat-input {
  border: 1px solid var(--bg-color);
  border-radius: 0 0 5px 5px;
  height: 40px;
  position: relative;
}
.chat-input textarea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 10px 30px 10px 20px;
}
.chat-input textarea::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.chat-input textarea::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}
.chat-input textarea::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 5px;
}
.send-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.users-message {
  display: flex;
  align-items: flex-start;
  padding: 10px 40px 10px 10px;
}
.users-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex: 0 0;
}
.users-avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.users-text {
  margin-left: 10px;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  line-height: 150%;
}
.my-message {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 10px 10px 10px 40px;
}
.my-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex: 0 0;
}
.my-avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.my-text {
  margin-right: 10px;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  line-height: 150%;
}
.hide {
  display: none;
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.5s ease;
  z-index: 1000;
}
.hide.hidden {
  transform: rotate(180deg);
}
.hide:hover {
  opacity: 1;
}

/* === INTERFACE CAMERA === */

.interface-camera {
  width: 290px;
  height: 200px;
  position: absolute;
  bottom: 440px;
  right: 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  border: 1px solid var(--bg-color);
  transition: 0.5s ease;
}
.interface-camera.hidden {
  transform: translateX(100%);
}
.interface-camera img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* === SWIPER === */

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.swiper-pagination {
	position: absolute;
  top: 0;
  display: block;
  height: 50px;
}
.swiper-pagination-bullet {
	padding: 5px 10px;
	border-radius: 0;
	width: 90px;
	height: 40px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
  color: var(--main-color);
	opacity: 1;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: var(--basic-shadow);
}
.swiper-pagination-bullet-active {
  width: 120px;
  height: 40px;
  background-color: var(--main-color);
  box-shadow: var(--on-hover-shadow);
  color:#fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
/* === MEDIA QUERIES === */

@media screen and (max-width: 1200px) {
  .nav {
    width: 100%;
  }
  .container {
    max-width: 1170px;
  }
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .avatars-grid-container {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 290px);
  }
}
@media screen and (max-width: 992px) {
  .hide {
    display: block;
  }
  .container {
    max-width: 990px;
  }
  .nav__burger {
    display: flex;
  }
  .menu__list {
    display: none;
  }
  .main-drop-menu {
    display: flex;
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: #fbfbfb;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
    transform: translateY(-100%);
    z-index: 990;
  }
  .main-drop-menu.open {
    visibility: visible;
    opacity: 1;
    position: fixed;
    transform: translateY(0);
  }
  .main-menu__list {
    margin-top: 50px;
  }
  .menu__list li:hover::after {
    width: 0;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .avatars-grid-container {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 290px);
  }
  .popup-body-avatar-select {
    width: 85vw;
    height: 80vh;
  }
  .search-input {
    flex: 0 1 70%;
    position: relative;
  }
  .search-radio {
    flex: 0 1 30%;
  }
  .main-video {
    top: 0;
    left: -500px;
  }
  .logout-button {
    display: flex;
  }
  .settings-btn {
    width: 100%;
  }
  .chng-password-button {
    display: flex;
  }
  .settings-input {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .seartch-btn {
    width: 100%;
  }
  .search-input {
    flex: 0 1 65%;
    position: relative;
  }
  .search-radio {
    flex: 0 1 35%;
  }
  .main-title {
    font-size: 3rem;
  }
  .main-subtitle {
    font-size: 1.5rem;
  }
  .loading-world-body {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 570px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
  .avatar-grid-search {
    width: 100%;
  }
  .avatars-grid-container {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 290px);
  }
  .grid-item {
    padding: 10px 15px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  .footer-text {
    text-align: center;
  }
  .footer {
    height: 140px;
  }
  .search-input {
    flex: 0 1 50%;
    position: relative;
  }
  .search-radio {
    flex: 0 1 50%;
  }
  .main-title {
    font-size: 2rem;
  }
  .main-subtitle {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  .main-video {
    top: 0;
    left: -700px;
  }
  .user-settings-body {
    flex-direction: column;
  }
  .settings-first-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    border-radius: 5px 5px 0 0;
  }
  .settings-second-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
  }
  .audio-settings {
    margin-top: 20px;
  }
  .audio-extra-settings {
    margin-top: 20px;
  }
  .user-settings-button {
    margin-top: 20px;
  }
  .settings-avatar {
    height: 250px;
  }
  .settings-camera {
    width: 200px;
    height: 200px;
  }
  .settings-first-section {
    width: 350px;
  }
  .interface-chat {
    max-width: 100%;
  }
  .chat-body {
    height: calc(100vh - 300px - 50px - 40px);
  }
  .interface-camera {
    width: 100%;
    height: 300px;
    top: 0;
  }
}
@media screen and (max-width: 425px) {
  .container {
    max-width: 100%;
  }
  .search-radio-input {
    -webkit-appearance: none;
    width: 45px;
    height: 30px;
  }
  .search-radio-label {
  top: 7px;
  left: 3px;
  }
  .user-dropdown {
    width: 280px;
  }
}
@media screen and (max-width: 375px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .avatar-chng-button a {
    width: 135px;
    font-size: 12px;
  }
  .user-dropdown {
    width: 240px;
  }
  .settings-first-section {
    width: 290px;
  }
  .loading-world-body {
    width: 90%;
  }
}
